<li>
  <%= gravatar_for user, size: Settings.gravatar.size %>
  <%= link_to user.name, user %>
  <% if can_delete? user %>
    | <%= link_to t("defaults.delete"), user, data: { "turbo-method": :delete,
                                          turbo_confirm: t("users.delete.confirm") }%>
  <% end %>
</li>
